body {
  box-sizing: border-box;
  background-color: black;
  color: wheat;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.form-intro {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  width: 100px;
}
